<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    *
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    body
    {
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        background-color:#edf0f2;

        @supports(display: grid) {
          display: block;
        }

    }


    .box {
      background-color: whitesmoke;
      width: 500px;
      padding: 50px;
      margin: 20px;
      border-radius: 10px;
  border-left: 10px solid #053859;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
    }

    /*---------------------
      Deal Of The Week
    -----------------------*/

    .deal-of-week {
      padding-top: 80px;
      padding-bottom: 80px;
      margin-left: 65px;
      margin-right: 65px;
    }

    .countdown-timer {
      text-align: center;
      margin-bottom: 50px;
    }

    .countdown-timer .cd-item {
      display: inline-block;
      background: #144270;
      margin-right: 35px;
      padding: 10px 14px;
      border-radius: 5px;
    }

    .countdown-timer .cd-item:last-child {
      margin-right: 0;
    }

    .countdown-timer .cd-item span {
      color: white;
      font-weight: 700;
      line-height: 40px;
      font-size: 36px;
    }

    .countdown-timer .cd-item p {
      font-size: 16px;
      color: white ;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    .navfont {
      color: white;
    }

    a {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .wrapper > * {
        padding: 2px;
      }

      .page-main {
        flex-grow: 1;
      }

      .page-header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      .page-header ul {
        display: flex;
        order: 1;
        width: 100%;
        margin-top: 15px;
      }

      .page-header ul li {
        padding: 2vh;
        margin: 2vh;
      }

      @media screen and (min-width: 550px) {
        .page-header ul {
          width: auto;
          margin-top: 0;
        }

        .page-header .cta-contact {
          order: 1;
        }
      }

      :root {
        --main-white-color: white;
        --main-purple-color: #D5E2EA;
      }

      .page-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 350px;
        background: var(--main-purple-color) url(IMG_SRC) no-repeat center / cover;
        background-blend-mode: luminosity;
        color: var(--main-white-color);
      }

      .page-main div {
        max-width: 500px;
      }

      @media screen and (min-width: 768px) {
        .page-main {
          padding-left: 90px;
        }
      }

      .page-footer {
        display: flex;
        flex-direction: column-reverse;
      }

      .page-footer ul {
        display: flex;
        font-size: 1.5rem;
        margin-bottom: 5px;
      }

      @media screen and (min-width: 550px) {
        .page-footer {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .page-footer ul {
          margin-bottom: 0;
        }
      }

    .nav_bar
    {
      background: #033658;
      text-align: center;
      opacity: 1;
      z-index: 1;
      position: sticky;
    }

    .nav_bar ul
    {
        list-style: none;
      }

    .nav_bar ul li button
    {
        background-color: rgba(255, 253, 253, 0)!important;
        border: none !important;
        cursor: pointer;

    }

    .active, .nav_bar ul li:hover
    {
        background-color: rgba(244, 244, 245, 0.568);
        border-radius: 0.5vh;
        opacity: 1;
    }

    .nav_bar .fa
    {
        margin-right: 2vh;
    }

    .submenu-1
    {
        display: none;
    }

    .nav_bar ul li:hover .submenu-1
    {
        display: block;
        position: absolute;
        background: darkgray;
        margin: 15px;
        margin-left: -15px;
    }

    .nav_bar ul li:hover .submenu-1 ul
    {
        display: block;
        margin: 10px;
    }

    .nav_bar ul li:hover .submenu-1 ul li
    {
        width: 150px;
        padding: 10px;
        border-bottom: 1px dotted black;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }

    .nav_bar ul li:hover .submenu-1 ul li:last-child
    {
        border-bottom: none;
    }

    .nav_bar ul li:hover .submenu-1 ul li button:hover
    {
        color: sienna;
    }

    .fa-angle-right
    {
        float: right;
    }

    .hover-me:hover .submenu-2
    {
        position: absolute;
        display: block;
        margin-top: -40px;
        margin-left: 140px;
        background: darkgrey;
    }

    .submenu-2
    {
        display: none;
    }

    #slider
    {
        overflow: hidden;
        height: 400px;
        background: black;
        z-index: 1s;
    }

    #slider figure
    {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }

    #slider figure img
    {
        width: 20%;
        float: left;
        height: 400px;
        padding: 10px;

    }

    @keyframes slider
    {
        0%{
            left: 0;
        }
        20%{
            left: 0;
        }
        25%{
            left: -100%;
        }
        45%{
            left: -100%;
        }
        50%{
            left: -200%;
        }
        70%{
            left: -200%;
        }
        95%{
            left: -300%;
        }
        100%{
            left: -400%;
        }
    }

      .header div {
        display: inline-block;

      }

      @media (min-width: 10vh) {
        .logo img {
            width: 15vh;
            height: 15vh;
            margin-left: 6vh;
            margin-bottom: 0.5vh;
        }
    }

    .header .center {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        margin-top: -10vh;
        margin-bottom: 0.5vh;
        margin-right: 3vh;
    }

    .search .search__title {
      font-size: 22px;
      font-weight: 900;
      text-align: center;
      color: #ff8b88;
    }

    .search .search__input {
      width: 100%;
      padding: 1.5vh 25vh;

      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 2.5vh;
      line-height: 1vh;

      color: #575756;
      background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 3vh 20vh;
      background-position: 94% center;
      border-radius: 50px;
      border: 1px solid #575756;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }

    .search .search__input::placeholder {
          color: rgba(87, 87, 86, 0.8);
          text-transform: uppercase;
          letter-spacing: 1.5px;
      }

    .search .search__input:hover,
      .search__input:focus {
          padding: 2vh 10vh;
          outline: 0;
          border: 1px solid transparent;
          border-bottom: 1px solid #575756;
          border-radius: 0;
          background-position: 100% right;
      }

    .container1 {
      max-width: 95%;
      min-width: 40%;
      margin: 3vh;
    }

    @media screen and (min-width: 768px) {
      .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2;
      }
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 150px;
      grid-auto-flow: row dense;
    }

    img {
      width: 100%;
      height: auto;
    }

    .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      background-color: darkgray;
      border-radius: 1vh;
      border: 1px solid whitesmoke;
      box-shadow: 2px #575756;
    }


    .back{
      visibility: hidden;
    }

    .gallery .cover1:hover .front img{
      filter: blur(1px);
      zoom: 2;
    }

    /* for touch screen devices */
    @media (hover: none) {
      .location-title {
        opacity: 1;
      }
      .location-image img {
        filter: blur(2px);
      }
    }

    .gallery .cover1:hover .back{
      visibility: visible;
      position: absolute;
      z-index: 999;
      margin: 2vh;
      left: 0;
      right: 0;
      top: 10%; /* Adjust this value to move the positioned div up and down */
      width: 100%;
      color: black;
      font-size: 4vh;
      background-color: rgba(110, 31, 31, 0.548);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
    }

    .gallery .cover1 {
      position: relative;
      display: inline-block;
    }

    .back span {
      display: block;
    }

    /* pop up signup and login */

      div .form {
        max-width: 70vh;
        min-width: 50vh;
        height: 85vh;
        width: 70vh;
        background-color: darkgrey;
        margin: 3vh;
        padding: 3vh;
        border-radius: 4vh;
        visibility: visible;
      }

      .form input{
        display: block;
        margin: 2vh;
        width: 50vh;
        height: 5vh;
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0);
      }

      .form input:focus{
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0);
      }

      .form input::placeholder{
        color: rgb(0, 0, 0, 0.5);
        padding: 1vh 2vh;
      }

      .form input:focus::placeholder{
        color: rgb(0, 0, 0, 0.8);
      }

      input:focus, select:focus, textarea:focus {
        outline: none;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -o-box-shadow: none !important;
        -ms-box-shadow: none !important; }

        .input-icons i {
          position: absolute;
          align-items: flex-start;
          display: flex;
        }

      .input-icons {
          width: 100%;
          margin-bottom: 10px;
      }

      .icon {
          padding: 3px 15px;
          min-width: 50px;
          text-align: center;
      }

      .input-field {
          width: 100%;
          padding: 10px;
          text-align: center;
      }



       /*float cancel and signup buttons and add an equal width*/
       .cancelbtn,
       .signupbtn {
           float: left;
           width: 50%
       }
       /*add padding to container elements*/
       .container {
           margin: auto;
       }
       /*define the modal’s background*/

       .modal {
        width:100%;
        height:100%;
        opacity:.95;
        top:0;
        left:0;
        display:none;
        position:fixed;
        background-color:#313131;
        overflow:auto;
       }
       /*define the modal-content background*/

       .modal-content {
        position:absolute;
        left:30%;
        top:17%;
        font-family:'Raleway',sans-serif;
       }
       /*define the close button*/

       .close {
           position: absolute;
           right: 35px;
           top: 15px;
           color: #000;
           font-size: 40px;
           font-weight: bold;
       }
       /*define the close hover and focus effects*/

       .close:hover,
       .close:focus {
           color: rgba(247, 229, 229, 0.637);
           cursor: pointer;
       }

       .form button{
         background-color: rgba(7, 7, 7, 0.5);
         color: #053859;
         border: 10px solid black;

       }

       .form button:hover{
        background-color: rgba(7, 7, 7, 0);
        color: white;
        border: 2px solid black;
      }

      .form a:hover{
        color: blanchedalmond;
        text-decoration: 1px underline solid black;
        cursor: pointer;
      }



      /*image galery grid system*/

      .section {
        display: none;
        padding: 2rem;
      }
      @media screen and (min-width: 768px) {
        .section {
          padding: 4rem;
        }
      }
      @supports (display: grid) {
        .section {
          display: block;
        }
      }

      h1 {
        font-size: 2rem;
        margin: 0 0 1.5em;
      }

      .grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 150px;
        grid-auto-flow: row dense;
      }

      .item {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: end;
                justify-content: flex-end;
        box-sizing: border-box;
        background: #0c9a9a;
        color: #fff;
        grid-column-start: auto;
        grid-row-start: auto;
        color: #fff;
        background: url("https://rukminim1.flixcart.com/image/332/398/jyt0knk0/kurti/k/d/3/free-ktl1-harikrishnafashionwork-original-imafdgayqvph5yve.jpeg?q=50");
        background-size: cover;
        background-position: center;
        box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        cursor: pointer;
        counter-increment: item-counter;
      }
      .item:nth-of-type(3n) {
        background-image: url("https://rukminim1.flixcart.com/image/332/398/jyt0knk0/kurti/k/d/3/free-ktl1-harikrishnafashionwork-original-imafdgayqvph5yve.jpeg?q=50");
      }
      .item:nth-of-type(4n) {
        background-image: url("https://d1x6pu61dawus4.cloudfront.net/eyJidWNrZXQiOiJidXlqYW1hIiwia2V5IjoibWVkaWEvcHJvZHVjdC8yMDE5LzA1LzE1L0RTUzkyNTFBXzEuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo5ODAsImhlaWdodCI6MTMwNywiZml0IjoiY29udGFpbiJ9fX0=");
      }
      .item:nth-of-type(5n) {
        background-image: url("https://www.fashionbug.lk/wp-content/uploads/2020/01/080310102643-C1-1_Fashion-Bug_Ladies-Dress.jpg");
      }
      .item:nth-of-type(6n) {
        background-image: url("https://dimg.dillards.com/is/image/DillardsZoom/zoom/b.-darlin-lace-up-back-satin-long-dress/00000000_zi_8c4d889f-1706-44dd-8275-95e8ee404bf1.jpg");
      }
      .item:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
      }
      .item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
      }
      .item:hover:after {
        opacity: 0;
      }
      .item--medium {
        grid-row-end: span 2;
      }
      .item--large {
        grid-row-end: span 3;
      }
      .item--full {
        grid-column-end: auto;
      }
      @media screen and (min-width: 768px) {
        .item--full {
          grid-column: 1/-1;
          grid-row-end: span 2;
        }
      }
      .item__details {
        position: relative;
        z-index: 1;
        padding: 15px;
        color: #444;
        background: #fff;
        letter-spacing: 1px;
        color: #828282;
      }
      .item__details:before {
        font-weight: bold;
        font-size: 1.1rem;
        padding-right: 0.5em;
        color: #444;
      }

      *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #ededed;
}

.bu {
  background-color: #053859;
  border-radius: 4px; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: $formW;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 100%;
  padding-left: $imgW;
  background: #fff;
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1,0,0);
  }
}

button {
  display: block;
  margin: 0 auto;
  width: $inputW;
  height: $btnH;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: $imgW;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW,0,0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: normal;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    &.m--up {

      @include signUpActive {
        transform: translateX($imgW*2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: $btnH;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;

    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;

      &.m--in {
        transform: translateY($btnH*-2);

        @include signUpActive {
          transform: translateY(0);
        }
      }

      &.m--up {
        @include signUpActive {
          transform: translateY($btnH*2);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: $inputW;
  margin: 25px auto 0;
  text-align: center;

  span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: darken(#d3dae9, 20%);

  span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
  }
}

.sign-in {
  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    transform: translate3d($formW,0,0);
  }
}

.sign-up {
  transform: translate3d($contW * -1,0,0);

  @include signUpActive {
    transform: translate3d(0,0,0);
  }
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;

  img {
    width: 100%;
    vertical-align: top;
  }

  &--twitter {
    left: auto;
    right: 5px;
  }
}

    </style>
  </head>
  <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= error.msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }); %> <% } %> <% if(success_msg != ''){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success_msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %> <% if(error_msg != ''){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error_msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %> <% if(error != ''){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    
  <body>
    <div class="wrapper">

        <header class="page-header">



            <nav class="nav_bar">
                <ul>
                    <li class="active"><button class="navfont"><i class="fa fa-home"></i>Home</button></li>
                    <li>
                      <button class="navfont">Show Rooms</button>
                        <div class="submenu-1">
                          <ul>
                            <li><button><a href="/Limmys">Limmys</a></button></li>
                            <li><button><a href="/megamart">Mega Mart</a></button></li>
                            <li><button><a href="/Shifra">Shifra</a></button></li>
                            <li><button><a href="/Sivakaneshan">Sivakaneshan</a></button></li>
                            <li><button><a href="/boys">boys</a></button></li>
                        </ul>
                        </div>
                    </li>

                    <li><button class="navfont"><a href="/#about">About us</a></button></li>
                    <li><button class="navfont"><a href="/#contact">Contact us</a></button></li>
                    <li><button class="navfont"><a href="/shopnow">Shop Now</button></li>
                </ul>
                <ul>

                        <li><button class="navfont"><a href="users/login">Login</button> </a></li>
                            <li><button class="navfont"><a href="users/register">Signup</button> </a></li>


                </ul>
            </nav>
            <center>
            <div class="box">
    <h1>order</h1>
    <form class="" action="/order-item" method="post">
      <input type="text" name="name" placeholder="Enter your sweet name..."> <br> <br>
      <input type="text" name="email" placeholder="Enter your email..."> <br> <br>
      <input type="text" name="address" placeholder="Enter your address"> <br> <br>
      <input type="text" name="city" placeholder="Enter your city"> <br> <br>
      <input type="text" name="phone" placeholder="Enter your phone number"> <br <br>
      <br>
      <input  class="bu" type="submit" name="submit" value="submit">
    </form>
  </div> </center>
</header> <div>
  </body>
</html>
